*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand';
}
body{
    background-color: #F54C33;
    display: flex;
    justify-content: center;

    
}

/* EDITAR CUENTA */

.editar_cuenta{
    border-radius: 50px;
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F4E5E4;
    margin-top: 100px;
   
}
span{

}
.editar_cuenta h1{
    color: #F54C33;
    font-size: 25px;
}

.button{
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    color: #DECABD;
    background-color: #EA2301;
    transition: all 0.5s ease;
}
input:focus{
    outline: none;
    border: 2px solid #F54C33;
    border-radius: 20px;
}
